<a class="show-aside js-reduce-aside left">
    <span class="glyphicon glyphicon-arrow-left"></span>
</a>
<aside class="outside">
    <a class="js-reduce-aside right">
        <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
    <h5>Yours</h5>
    <ul>
        <li>Blabla</li>
        <li>Blabla2</li>
        <li>Blabla4</li>
        <li>Blabla5</li>
    </ul>
    <h5>Subscription</h5>
    <ul>
        <li>Blabla</li>
        <li>Blabla2</li>
        <li>Blabla4</li>
        <li>Blabla5</li>
    </ul>
    <h5>Contribution</h5>
    <ul>
        <li>Blabla</li>
        <li>Blabla2</li>
        <li>Blabla4</li>
        <li>Blabla5</li>
    </ul>
</aside>