@font-face {
    font-family: 'coolveticaregular';
    src: font-url('coolvetica-webfont.eot');
    src: font-url('coolvetica-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('coolvetica-webfont.woff') format('woff'),
         font-url('coolvetica-webfont.ttf') format('truetype'),
         font-url('coolvetica-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}